# Library and binary directories
lib/*
!lib/README.md
bin/*
!bin/README.md

# Doxygen folders
html
latex
.DS_Store
._.DS_Store
docs/._refman.pdf

# Compiled Object files
*.slo
*.lo
*.o

# Dependencies files
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# gcov and gprof files
*.gcno
*.gcda
gmon.out
run_profile

# Vim swap files
*.swp

# tags file
tags

# Backup files
*~

# Temporarily ignore these

samples/calc
